.gradle
.idea
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/misc.xml
.idea/workspace.xml
*.bin
*.idx
*.html
*.css
*.iml
*.log
*.iml
addressbook-web-tests/chromedriver.exe
addressbook-web-tests/chromedriver
mantis-tests/chromedriver.exe
